<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" >

<!-- 	<groups>
		<run>
			<include name="ErrorHandling" />
		</run>
	</groups> -->
	<test  name="Submit Order Test">
		<classes>
			<class name="TestCasePackage.SubmitOrderTest" />

		</classes>
	</test> <!-- Test -->

	<test name="Error Revalidation Test">
		<classes>
			<class name="TestCasePackage.ErrorRevalidationTest" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
